* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #e9e9db;
  --navbar-color: #333333;
}

body {
  background-color: var(--main-bg-color);
}

.navbar {
  background-color: var(--navbar-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #000000;
}

.doodle-logo {
  padding: 1rem;
  width: 300px;
  height: 100%;
}

.navbar-items {
  gap: 30px;
  padding-top: 1rem;
  font-size: 24px;
}

h2 {
  font-family: Marker Felt;
}

a {
  font-family: Marker Felt;
}

.navbar-link {
  text-decoration: none;
  color: #ffffff;
  padding-right: 80px;
  padding-top: 28px;
}

.navbar-link:hover {
  color: #0066cc;
  cursor: pointer;
}

.featured-comic-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.featured-comic-title {
  border: 3px solid;
  display: flex;
  background-color: #333333;
  text-align: center;
  justify-content: center;
  /* margin: 0; */
  padding: 1%;
  /* height: 100px; */
  width: auto;
}

.featured-h2 {
  color: #ffffff;
  font-family: Marker Felt;
}

.featured-comic-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  border: 5px solid;
  width: auto;
  margin-top: 20px;
  flex-direction: column;
}

.featured-comic-img {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: auto;
}

.featured-comic-img:hover {
  cursor: pointer;
}

.featured-comic-timer {
  display: flex;
  /* justify-content: center; */
  white-space: nowrap;
  background-color: #333333;
  border: 5px solid #000000;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 45%;
  padding: 10px;
  max-width: fit-content;
  justify-content: flex-end;
}
.timer-and-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.timer {
  max-width: 100%;
}

.comics-3x3-div {
  border: 30px solid #000000;
  background-color: #c2c2d6;
  /* max-width: 270px; */
  /* max-height: auto; */
  margin-top: 1.5%;
  display: grid;
  gap: 1.5px;
  /* align-items: center; */
  justify-content: center;
  object-fit: cover;
  padding: 1rem;
  /* flex-grow: 0; */
  /* flex-shrink: 0; */
  /* width: auto; */
  /* flex-basis: 100px; */
  /* height: auto; */
}

/* .row {
  display: flex;
  height: 200px;
  gap: 1.5px;
  flex: 1;
} */

.loader {
  width: 100px;

  height: 100px;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-elements {
  display: flex;
  align-items: center;
}

.loading-text {
  font-size: 25px;
}

.comic-panel {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  max-width: 265px;
  max-height: auto;
  border: 5px solid #000000;
  cursor: pointer;
}

.comic-3x3-button {
  margin-bottom: 10px;
  background-color: #333333;
  border: 3px solid #000000;
  padding: 10px;
  color: #ffffff;
  box-shadow: 0 6px 10px black;
  cursor: pointer;
}

.refresh-h3-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid rgb(6, 0, 0); */
  background-color: #333333;
  color: #ffffff;
  /* padding: 1.5%; */
}

.refresh-h3 {
  /* border: 3px solid black; */
  /* display: flex; */
  background-color: #333333;
  text-align: center;
  /* align-items: center; */
  justify-content: center;
  color: #ffffff;
  margin: 1%;
  padding: 2px;
  /* width: auto; */
}

.comic-slam-guide {
  display: grid;
  /* flex-direction: column; */
  border: 3.5px solid black;
  background-color: #333333;
  justify-items: center;
  gap: 1rem;
  margin-top: 10%;
  margin-bottom: 0;
  /* width: 100px; */
  height: auto;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
}

.comic-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5px;
  width: 100%;
}

.refresh-h3-para {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 1.15rem;
  margin: 0 auto;
}

.comics-3x3-section {
  /* width: auto; */
  /* display: grid; */
  justify-items: center;
}

.modal-container {
  display: flex;
  /* justify-items: center; */
  justify-content: center;
  position: fixed;
  /* align-content: center; */
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  background: rgb(0, 0, 0);
  width: 80%;
  max-width: 600px;
  max-height: 90%;
  overflow: auto;
}

/* Center the dialog */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Modal content styling */
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #c2c2d6;
  align-items: center;
  padding: 20px;
  color: #000000;
}

/* Close button */
.close-modal {
  align-self: flex-end;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-modal:hover {
  color: #0066cc;
}

.favorite-icon:hover {
  cursor: pointer;
}

/* Modal image */
.modal-image {
  max-width: 100%;
  max-height: 70vh;
  margin: 20px 0;
}

/* Modal text */
.modal-transcript {
  font-size: 18px;
  color: #000000;
  text-align: center;
}

/* Start of comic gen css */

#comic-gen-container {
  border-color: #10b25e;
  border: 10px;
  margin-top: 5%;
  /* padding: 10%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#comic-gen-name {
  border: 3px solid;
  border-color: #000000;
  display: flex;
  flex-wrap: nowrap;
  background-color: #333333;
  text-align: center;
  justify-content: center;

  color: #ffffff;
  /* margin: 0; */
  padding: 1%;
  /* height: 100px; */
}

.da-buttons {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: center;
}

#comic-gen-title {
  display: flex;
  justify-content: center;
  padding: 2%;
  width: 100%;
}

/* favorites tab css below */

.favorites-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: #0066cc;
  /* border: 3px solid; */
  margin-bottom: 2%;
  margin-top: 2%;
}

#fav-name {
  border: 3px solid;
  display: flex;
  background-color: #333333;
  text-align: center;
  justify-content: center;
  border-color: #000000;
  color: #ffffff;
  /* margin: 0; */
  padding: 1%;
  /* height: 100px; */
  width: auto;
}

.favorited-comic {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: #000000;
  border: 3px solid;
  max-width: 200px;
  height: 300px;
  background-color: #c2c2d6;
  padding: 9px;
  border-radius: 1rem;
  box-shadow: 0 6px 8px black;
}

li {
  max-width: 3990px;
}

.fav-text {
  /* background-color: #333333; */
  color: #0f0303;
  font-family: Marker Felt;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  list-style: none;
  padding: 1rem;
}

.fav-panel {
  max-width: 100%;
  margin-bottom: 9px;
  height: 100%;
}

#user-input {
  border: 3px solid;
  gap: 5px;
  display: flex;
  background-color: #333333;
  text-align: center;
  justify-content: center;
  border-color: #000000;
  color: #ffffff;
  /* margin: 0; */
  padding: 1%;
  /* height: 100px; */
  width: auto;
  box-shadow: 0 3px 10px black;
}

.gen-buttons {
  display: flex;
  gap: 1rem;
}

.comic-gen-button {
  border: 3px solid;
  gap: 5px;
  display: flex;
  background-color: #333333;
  text-align: center;
  justify-content: center;
  border-color: #000000;
  color: #ffffff;
  /* margin: 0; */
  padding: 7%;
  /* height: 100px; */
  width: auto;
  box-shadow: 0 3px 10px black;
}
